/* global settings   background-image: linear-gradient(red, yellow);*/
body{
    overflow-anchor: none;   
}

#title{
    box-shadow: 0 1px #a2a9b1;
    display:flex;
    font-family:'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    line-height: 1.3;
    direction: ltr;
    font-size: 1.8em;
    word-wrap: break-word;
}

.imagebox{
    border: 1px solid #c8ccd1;
    font-size: 94%;
    background-color: #f8f9fa;
    width: 200px;
    height: 200px;

    min-width: 100px;
    min-height: 100px;


    margin: 2%;
    text-align: center;
}

.imagebox > img{
    width: 80%;
    height: 80%;
}

.imagebox > p{
    margin: 5px;
}

#gamediv{
    display: flex;
    justify-content: space-evenly;
}

#game{
    align-items: center;
}

.placeAni{
    animation: placeCorrect 1s ;
}

@keyframes placeCorrect {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}