<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- jinja template language for base HTML-->
    <title>
        {%block title%}
        Base 
        {%endblock%}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <!-- CSS Page overrides-->
    {% block css %}
    {%endblock%}
</head>
<!-- Base Page-->
<body>
    <!-- Page JS -->
    {%block pageJS%}
    <script
    type="text/javascript"
    src="{{ url_for('static',filename='test.js')}}"
    ></script>
    {%endblock%}
    
    <header id="Logobar">
        <div id="Logobar-Text">
            <h2>SHITTY-WIKI</h2>
            <p>the free shittipedia</p>
        </div>
        <div id="Logobar-Logo">
            <img src="{{ url_for('static',filename='/ShiteLogo.png')}}">
        </div>
    </header>
    <nav id="navbar">
        <ul id="Links">
            <span>
                <a href="/">Game</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/unlocks">Unlocks</a>
            </span>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        {%block content %}
        <p>content </p>
        {% endblock %}
    </div>
</body>
</html>